---
name: Lint

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
      - "v**"
  pull_request:
    branches:
      - "main"
      - "v**"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: earthly/actions-setup@v1.0.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # renovate: datasource=docker depName=earthly/earthly
          version: "v0.8.0"
      - uses: actions/checkout@v4
      - name: Earthly Lint
        env:
          EARTHLY_CI: true
        run: earthly +lint
